@import url(../global/global.css);
@import url(../components/header.css);
@import url(../components/footer.css);

.welcome {
  background-color: var(--color-secondary-light);
}

.ul {
  list-style-type: upper-roman;
}

.li::marker {
  color: rgb(101, 26, 187);
}

.welcome__name {
  color: var(--color-primary);
  font-weight: var(--semibold);
}

.welcome__title {
  margin-bottom: 16px;
}

.burger-menu {
  color: var(--primary-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

.articles-header {
  text-align: center;
  margin-bottom: 16px;
}

.articles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 32px;
}

.articles__article {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.articles__article-link {
  color: var(--color-primary-dark);
  font-weight: var(--semibold);
  font-size: calc(14 / 16 * 1rem);
  line-height: 143%;
  letter-spacing: 0.125em;
  text-transform: uppercase;
  text-decoration: none;
  /* align-self: flex-start; */
  width: fit-content;
}

.articles__article-link:hover {
  color: var(--color-primary);
}





/* Skills section */
.skills {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
}

.skill-header {
  margin-bottom: 1rem;
}

.skills-wrapper img {
  padding: 1.25rem;
}

.icon {
  width: 11.875rem;
  height: 11.25rem;
}

/* Skills section ends */